body {
    font-family: 'Montserrat', sans-serif;
}
.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}
.nav-flag {
    padding-right: 5px;
}
#mainNavbar {
    height:fit-content;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #d53443;
}
.container {
    padding-top: 75px;
}
.banner {
    background-image: url(images/bussiereDay1.jpg);
    background-size: cover;
    padding-top:45px;
    height: 700px;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: black;
    text-align: center;
}
h2 {
    text-align: center; 
    font-size: 2.5em;
    color:black;
}
h4 {
    font-size: 1em;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-white {
    box-shadow: 5px 5px 10px #305a74;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    text-align: center;
    border: 1px solid #cdd5e0;
}
.card-white img{
    height: 180px;
    object-fit: contain;
}
.spaceHeader {
    padding-top: 25px;
}
.flag {
    height: 30px;
    width: 50px;
}
#logo {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: whitesmoke;
}
.btn {
    border: 2px solid whitesmoke;
    background-color: #d53443;
}
.btn:hover {
    background-color:#cdd5e0;
    border:4px solid #305a74;
    color: black;
    transition: .5s;
}
@media (max-width:768px) {
    .banner {
        background-position: center;
    }
}
@media (max-width:1440px) {
    .banner {
        background-image: url(images/bussiereDay.jpg);
        height: 600px;
    }
}
footer a:hover {
    color: #161A1D;
}
footer {
    background-color: #305a74;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    font-size:larger;
}
#copy {
    color: black;
    font-size: smaller;
}





